<header>
  <nav>
    <div class="logodiv">
      <h3 class="navlogo"> brokerFix </h3>
    </div>
    <div class="menu">
      <span><a class="menuitem highlightmenuitem"> Back to Current Projects </a></span>
      <span class="menuitem"><a>Investor Contacts</a></span>
      <span class="menuitem"><a>Lender Contacts</a></span>
      <span class="menuitem"><a>Project Archives</a></span>
      <span class="menuitem"><a (click)="logOut()">Log Out</a></span>
    </div>
  </nav>
</header>

<div class="container">
  <h2> {{ projectById.projectName }} </h2>
