.logodiv {
  display: inline-block;
}

.navlogo {
  margin: 15px 10px 20px 10px;
}

.menu {
  float: right;
  margin-top: 15px;
}

.menuitem {
  padding: 0px 10px 0px 10px;
}

.highlightmenuitem {
  border: 1px double gray;
  padding: 5px;
  margin-right: 15px;
}
