
<container>

    <row>
      <column md="12">
        <h2 class="pagetitle"> Investor Contacts </h2>
      </column>
    </row>
    <row>
      <column sm="4">
      </column>
      <column sm="4" class="showformbutton">
        <button *ngIf="!isShowingForm" (click)="showNewInvestorForm()"> Add a New Investor </button>
      </column>
      <column sm="4">
      </column>
    </row>

    <row *ngIf="isShowingForm">
      <column lg="12">
        <row>
          <column md="12">
            <h3 class="formtitle"> Add a New Investor </h3>
          </column>
        </row>
        <row>
          <column md="4">
          </column>
          <column md="4">

            <form class="newinvestorform" (ngSubmit)="saveNewInvestor()">
              <row>
                <column md="7">
                  <label for="investor-first-name-input"> First Name </label>
                  <br>
                </column>
                <column md="5">
                  <input id="investor-first-name-input" type="text" placeholder="Albert"
                      [(ngModel)]="firstName" name="firstName">
                  <br>
                </column>
              </row>
              <row>
                <column md="7">
                  <label for="investor-last-name-input"> Last Name </label>
                  <br>
                </column>
                <column md="5">
                  <input id="investor-last-name-input" type="text" placeholder="Anderson"
                      [(ngModel)]="lastName" name="lastName">
                  <br>
                </column>
              </row>
              <row>
                <column md="7">
                  <label for="investor-email-input"> Email </label>
                  <br>
                </column>
                <column md="5">
                  <input id="investor-email-input" type="text" placeholder="aanderson@aol.com"
                      [(ngModel)]="email" name="email">
                  <br>
                </column>
              </row>
              <row>
                <button (click)="hideNewInvestorForm()"> Go Back </button>
                <button> Save Investor </button>
              </row>
            </form>
          </column>
          <column md="4">
          </column>
        </row>
      </column>
    </row>

    <row *ngIf="!isShowingForm" class="container">
      <column lg="12">
          <row *ngFor="let oneInvestor of investorArray">
            <column lg="3" class="ngforbox">
              <row>
                <column lg="12">
                  <h4> {{ oneInvestor.lastName }}, {{ oneInvestor.firstName }} </h4>
                  <p> {{ oneInvestor.email }} </p>
                  <div *ngFor="let oneInvestment of oneInvestor.investments">
                    <p> {{ oneInvestment.investmentPercentage }}% - {{ oneInvestment.projectName }} </p>
                  </div>
                </column>
                <column lg="0">
                  <!-- <button class="smallbutton" [routerLink]="['/investor', oneInvestor._id]"> View Details </button> -->
                  <!-- <button class="smallbutton topsmallbutton"> Edit </button>
                  <button class="smallbutton"> Delete </button> -->
                </column>
              </row>
            </column>
          </row>
      </column>
    </row>

</container>
