
<container>

    <row>
      <column md="12">
        <h2 class="pagetitle"> Lender Contacts </h2>
      </column>
    </row>
    <row>
      <column sm="4">
      </column>
      <column sm="4" class="showformbutton">
        <button *ngIf="!isShowingForm" (click)="showNewLenderForm()"> Add a New Lender </button>
      </column>
      <column sm="4">
      </column>
    </row>

    <row *ngIf="isShowingForm">
      <column lg="12">
        <row>
          <column md="12">
            <h3 class="formtitle"> Add a New Lender </h3>
          </column>
        </row>
        <row>
          <column md="4">
          </column>
          <column md="4">

            <form class="newlenderform" (ngSubmit)="saveNewLender()">
              <row>
                <column md="7">
                  <label for="institution-name-input"> Institution </label>
                  <br>
                </column>
                <column md="5">
                  <input id="institution-name-input" type="text" placeholder="Trustworthy Bank"
                      [(ngModel)]="institutionName" name="institutionName">
                  <br>
                </column>
              </row>
              <row>
                <column md="7">
                  <label for="contact-first-name-input"> First Name </label>
                  <br>
                </column>
                <column md="5">
                  <input id="contact-first-name-input" type="text" placeholder="William"
                      [(ngModel)]="contactFirstName" name="firstName">
                  <br>
                </column>
              </row>
              <row>
                <column md="7">
                  <label for="contact-last-name-input"> Last Name </label>
                  <br>
                </column>
                <column md="5">
                  <input id="contact-last-name-input" type="text" placeholder="Williams"
                      [(ngModel)]="contactLastName" name="lastName">
                  <br>
                </column>
              </row>
              <row>
                <column md="7">
                  <label for="contact-email-input"> Email </label>
                  <br>
                </column>
                <column md="5">
                  <input id="contact-email-input" type="text" placeholder="wwill@trustbank.com"
                      [(ngModel)]="email" name="email">
                  <br>
                </column>
              </row>
              <row>
                <column md="7">
                  <label for="project-size-min-input"> Minimum Project Size </label>
                  <br>
                </column>
                <column md="5">
                  <input id="project-size-min-input" type="number" placeholder="5,000,000"
                      [(ngModel)]="projectSizeMin" name="minProjectSize">
                  <br>
                </column>
              </row>
              <row>
                <column md="7">
                  <label for="project-size-max-input"> Maximum Project Size </label>
                  <br>
                </column>
                <column md="5">
                  <input id="project-size-max-input" type="number" placeholder="20,000,000"
                      [(ngModel)]="projectSizeMax" name="maxProjectSize">
                  <br>
                </column>
              </row>
              <row>
                <column md="7">
                  <label for="project-geographical-area-input"> Geographical Areas </label>
                  <br>
                </column>
                <column md="5">
                  <input id="project-geographical-area-input" type="text" placeholder="South Florida, New York, Southern California"
                      [(ngModel)]="geographicalArea" name="projectGeoArea">
                  <br>
                </column>
              </row>
              <row>
                <column md="7">
                  <label for="project-types-input"> Project Types </label>
                  <br>
                </column>
                <column md="5">
                  <input id="project-types-input" type="text" placeholder="Mixed Use, Multifamily, Hotel"
                      [(ngModel)]="projectTypes" name="projectTypes">
                  <br>
                </column>
              </row>
              <row>
                <button (click)="hideNewLenderForm()"> Go Back </button>
                <button> Save Lender </button>
              </row>
            </form>
          </column>
          <column md="4">
          </column>
        </row>
      </column>
    </row>

    <row *ngIf="!isShowingForm" class="container">
      <column lg="12">
          <row *ngFor="let oneLender of lenderArray">
            <column lg="12" class="ngforbox">
              <row>
                <column sm="10">
                  <h4> {{ oneLender.institutionName }} </h4>
                  <p> {{ oneLender.contactFirstName }}, {{ oneLender.contactLastName }} </p>
                  <p> {{ oneLender.email }} </p>
                </column>
                <column lg="2">
                  <button class="smallbutton" [routerLink]="['/lender', oneLender._id]"> View Details </button>
                  <button class="smallbutton topsmallbutton"> Edit </button>
                  <button class="smallbutton"> Delete </button>
                </column>
              </row>
            </column>
          </row>
      </column>
    </row>

  </container>
