
.container {
  background-image: url('/images/slider-bg.png');
}

.logodiv {
  width: 20vh;
  margin: 0px !important;
}

.navlogo {
  margin: 15px 10px 20px 10px;
}

.navlogoimg {
  width: 50%;
}

.navlogotext {
  color: black;
  font-size: 20px;
  letter-spacing: 8px;
  font-style: normal;
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

.menu {
  float: right;
  /*margin-top: 15px;*/
  display: inline-block;
}

.menuitem {
  padding: 0px 10px 0px 10px;
}

.highlightmenuitem {
  border: 1px double gray;
  padding: 5px;
  margin-right: 15px;
}

.pagetitle {
  text-align: center;
}


li {
  list-style: none;
}

.currentprojectbox {
  float:left;
  background:lightgrey;
  width:40vh;
  padding:20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
}
.projecttitle h1 {
  font-size:22px;
  color: gray;
  font-weight:normal;
  text-align: center;
  border: 1px solid gray;
}

.projecttitle h2 {
  font-size:16px;
  color:gray;
}

.project-img {
  margin:0 auto;
  padding:20px 0px 20px 0px;
  width:85%;
}

.actualimage {
  width: 100%;
}

.content p {
   color:#54657b;
 }

.viewdetails {
  background: transparent;
  border: 2px solid gray;
  color: gray;
  font-size: 12px;
  text-align: center;
  width: 100%;
  }
