/* You can add global styles to this file, and also import other style files */

body {
  font-family: Avenir;
}

.pagetitle {
  text-align: center;
  font-family: Avenir;
  letter-spacing: 2px;
  margin-top: 50px;
}

.showformbutton {
  text-align: center;
}


li {
  list-style: none;
}


/*_______________form styles_____________*/

h3 {
  font-family: Avenir, sans-serif;
  text-align: center;
  margin-top: 20px;
}

button {
  background: transparent;
  border-radius: 0;
  border: 3px solid #808080;
  color: #808080;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 6px 15px;
  margin: 20px 0px 20px 0px;
  transition: all 0.4s ease-in-out;
}

button:hover {
  background: #ffffff;
  color: #202020;
  border-color: #202020;
}
