/* You can add global styles to this file, and also import other style files */


.navlogo {
  margin: 15px 10px 20px 10px;
  display: inline-block;
}

.navlogoimg {
  width: 25%;
  margin-top: 10px;
}

.navlogotext {
  color: black;
  font-size: 20px;
  letter-spacing: 8px;
  font-style: normal;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

.menu {
  float: right;
  margin-top: 15px;
  display: inline-block;
}

.menuitem {
  padding: 0px 10px 0px 10px;
  font-family: Avenir, sans-serif;
  text-decoration: none;
  color: black;
}

.highlightmenuitem {
  border: 1px double gray;
  padding: 5px;
  margin-right: 15px;
}

.pagetitle {
  text-align: center;
  font-family: Avenir;
  letter-spacing: 2px;
  margin-top: 50px;
}


li {
  list-style: none;
}


/*_______________form styles_____________*/

h3 {
  font-family: Avenir, sans-serif;
  text-align: center;
}

button {
  background: transparent;
  border-radius: 0;
  border: 3px solid #808080;
  color: #808080;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 6px 15px;
  margin: 20px 0px 20px 0px;
  transition: all 0.4s ease-in-out;
}

button:hover {
  background: #ffffff;
  color: #202020;
  border-color: #202020;
}
