<div *ngIf="isLoggedOut">

  <section id="home">
  	<div class="container">
          <h1>brokerFix</h1>
          <h2>because brokerage is broken</h2>
        <div *ngIf="isShowingSignIn" class="signin">

          <p *ngIf="loginErrorMessage" class="error">
            {{ loginErrorMessage }}
          </p>

          <form (ngSubmit)="doLogin()">
            <label for="login-email-input"> Email </label>
            <input id="login-email-input" type="email" placeholder="hi@example.com"
                [(ngModel)]="loginEmail" name="loginEmail">
            <br>

            <label for="login-password-input"> Password </label>
            <input id="login-password-input" type="password" placeholder="********"
                [(ngModel)]="loginPassword" name="loginPassword">
            <br>

            <button class="smoothScroll btn btn-default"> Log In </button>
          </form>

  			</div>

        <p *ngIf="!isShowingForm" class="haveaccount"> Don't have an account? </p>
        <span><a *ngIf="!isShowingForm" (click)="showSignUpForm()" class="haveaccount haveaccountsign" > Sign Up </a></span>
  		</div>

    <div *ngIf="isShowingForm" class="signup">

      <p *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </p>

      <form (ngSubmit)="doSignUp()">
        <label for="first-name-input"> First Name </label>
        <input id="first-name-input" type="text" placeholder="John"
            [(ngModel)]="firstNameValue" name="firstNameValue">
        <br>

        <label for="last-name-input"> Last Name </label>
        <input id="last-name-input" type="text" placeholder="Smith"
            [(ngModel)]="lastNameValue" name="lastNameValue">
        <br>

        <label for="email-input"> Email </label>
        <input id="email-input" type="email" placeholder="example@example.com"
            [(ngModel)]="emailValue" name="emailValue">
        <br>

        <label for="password-input"> Password </label>
        <input id="password-input" type="password" placeholder="********"
            [(ngModel)]="passwordValue" name="passwordValue">
        <br>

        <button class="smoothScroll btn btn-default"> Sign Up </button>
      </form>

      <p *ngIf="isShowingForm" class="haveaccount"> Already have an account? </p>
      <a *ngIf="isShowingForm" (click)="showSignInForm()" class="haveaccount haveaccountsign"> Sign In </a>
    </div>
  </section>

</div>
