.pagediv {
  background-image: url('/assets/images/home-bg.jpg') !important;
  background-size: cover;
}

#home {
  color: black;
  height: 100vh;
  text-align: center;
  padding-top: 30vh;
  font-family: 'Avenir', sans-serif;
  }

#home .container {
  background-color: rgba(256, 256, 256, 0.75);
  width: 40vh;
  margin: 0 auto;
  border-radius: 2px;
  padding: 10px;
}

#home h1 {
  font-size: 20px;
  letter-spacing: 8px;
  font-style: normal;
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
}

#home h2 {
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 20px;
}

#home #login-email-input {
  margin-left: 25px;
}

#home .btn {
  width: 60%;
}

.haveaccount {
  font-size: 10px;
  margin: 0px;
  padding:0px;
  display: inline;
}

.haveaccountsign {
  display: inline-block;
  margin: 0px;
  padding:0px;
}

#email-input {
  margin-left: 37px;
}

#password-input {
  margin-left: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  border: 2px solid red;
}
